body{
  height: 100%;
  width: 100%;
  color: #00a4d8;
  .al000{
    color: #ffffff;
  }
  .aa{
     width: 100px;
  }
  %aa{
    width: 100px;
    height: 200px;
    color: #00A5FF;
  }
  .cc{
    extend %aa;
  }
}