* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
}

#nav .warp {
    height: 120px;
}

#nav .warp .log a {
    display: block;
    height: 47px;
    width: 189px;
}

#nav .warp .log {
    float: left;
    padding: 37px 165px 0 0;
}

.nav-tab ul {
    float: left;
}

.nav-tab li {
    float: left;
    font-size: 15px;
    margin-top: 50px;
    line-height: 21px;
}

#nav .nav-tab li a {
    float: left;
    padding: 0 25px;
    color: #626262;
}

#nav .nav-tab li div.line {
    float: right;
    margin-top: 3px;
    width: 1px;
    height: 14px;
    background: #6b6b6b;
}

#nav .search {
    width: 115px;
    height: 30px;
    float: right;
    margin-top: 45px;
    background: #f1f3f6;
    border: 1px;
}

.search input {
    border: none;
    outline: none;
    width: 100px;
    height: 100%;
    padding: 0;
    background: #f1f3f6;
}

.search span {
    width: 5px;
    height: 12px;
    background: url('../img/search-icon.png') no-repeat;
    float: right;
    margin-top: 8px;
    padding-right: 10px;
}

#banner {
    height: 460px;
    background: #31333e;
    position: relative;
    border: 0 solid;
}

#banner .warp {
    height: 460px;
}

#banner .warp .arrow {
    position: absolute;
    margin-top: -25px;
    top: 50%;
    width: 1003px;
    z-index: 99999;
}

#banner .warp .prev {
    float: left;
    cursor: pointer;
}

#banner .warp .next {
    float: right;
    cursor: pointer;
}

#banner .banner-img {
    position: absolute;
    margin-top: -163px;
    margin-left: -292px;
    left: 50%;
    top: 50%;
}

#news {
     height: 492px;
    position: relative;
}
#news .warp{
    height: 492px;
    /*background: gold;*/


}
#news .warp div{
    width: 334px;
    height: 314px;
    float: left;
    /*background: red;*/
    margin: 89px 0;
}
#news .warp h1{
    color: #626262;
    font-size: 30px;
}
#news .warp .web,#news .warp .social,#news .warp .mobile{
    text-align: center;
}
#news .warp .web .news-img,#news .warp .social .news-img,#news .warp .mobile .news-img{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0;
    margin-top: 35px;
    margin-left: 117px;
    border-radius: 50%;
    background: #cb9bf7;
}
#news .warp .web .news-img img,#news .warp .social .news-img img,#news .warp .mobile .news-img img{
    margin-top: 23px;
}
#news .warp .web p,#news .warp .social p,#news .warp .mobile p{
    margin-top: 150px;
    word-break: break-all;
    padding: 0 24px;
}
#news .warp .web span ,#news .warp .social span,#news .warp .mobile span{
    margin-top: 32px;
    display: inline-block;
    color: #00a4d8;
    bottom: 89px;
}

#works{
    height: 500px;
    background: #e2e7ed;
}
#works h1{
    font-size: 30px;
    color: #626262;
    padding-top: 29px;
}

#works .works-img{
    margin-top: 19px;
    background: red;
    width: 100%;
    height: 400px;
}
#works .works-img div{
    float: left;
    background: gold center;
    width: 25%;
    height: 50%;
    overflow: hidden;
}
#clients{
    height: 154px;
}


/*底部样式*/
#footer{
    height: 176px;
    background: #31333e;
}
#footer .footer-content{
    width: 472px;
    /*padding-top: 45px;*/
    margin-top: 45px;
    float: left;
}
#footer .footer-content span{
    display: block;
    font-size: 15px;
    color: #e2e7ed;
}
#footer .footer-img{
    margin-top: 45px;
    float: right;
}
#footer .footer-belong{
    float: left;
    margin-top: 38px ;
    font-size: 12px;
    color: #c7ccd2;
}